/* Globals.scss */




$color: #262626;
$background-color: #fff;
$base-font-size: 22px;
$logo-color: #6e6e6e;
$line-height: 1.45;

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

// @import url(http://fonts.googleapis.com/css?family=Titillium+Web:300,900);

@font-face {
    font-family: 'robotolight';
    src: url('../webfonts/roboto/roboto-Light-webfont.eot');
    src: url('../webfonts/roboto/roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/roboto/roboto-Light-webfont.woff2') format('woff2'),
         url('../webfonts/roboto/roboto-Light-webfont.woff') format('woff'),
         url('../webfonts/roboto/roboto-Light-webfont.ttf') format('truetype'),
         url('../webfonts/roboto/roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('../webfonts/roboto/roboto-Black-webfont.eot');
    src: url('../webfonts/roboto/roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/roboto/roboto-Black-webfont.woff2') format('woff2'),
         url('../webfonts/roboto/roboto-Black-webfont.woff') format('woff'),
         url('../webfonts/roboto/roboto-Black-webfont.ttf') format('truetype'),
         url('../webfonts/roboto/roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
    
    
}






